<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Padres-Libreta</title>
</head>
<body>
    <div class="font-sans">
        <div class="flex flex-wrap min-h-screen sm:justify-center items-center h-full bg-gradient-to-tl from-purple-500 via-teal-600 to-purple-500 w-sm py-16 px-4"> 
            <!--agrego flex + flex-wrapgit y saque back bground gris, agg bg- degradado-->
            <div class="relative h-full">
                <div style="background-image: url('https://i.pinimg.com/originals/4a/66/38/4a6638db27116da54fd59b14a2d5c802.jpg');" class="flex-auto card bg-white-400 shadow-lg  w-full  h-full rounded-3xl absolute  transform -rotate-3"></div>
                <div style="background-image: url('https://i.pinimg.com/originals/4a/66/38/4a6638db27116da54fd59b14a2d5c802.jpg');" class="flex-auto card bg-gradient-to-t shadow-lg  w-full h-full rounded-3xl absolute  transform rotate-3"></div>
                <div  class="relative w-full h-full rounded-3xl  px-10 py-20 bg-indigo-200 shadow-md"> 
                  <h2 class="font-semibold text-gray-800">Marcelo Sosa</h2>
                    <table class="table-auto w-full">
                        <thead
                          class="text-m font-semibold uppercase text-gray-400 bg-indigo-200"
                        >
                          <tr>
                            <th class="p-2 whitespace-nowrap">
                              <div class="font-semibold text-left">Materias</div>
                            </th>
                            <th class="p-2 whitespace-nowrap">
                              <div class="font-semibold text-left">Primera Etapa</div>
                            </th>
                            <th class="p-2 whitespace-nowrap">
                              <div class="font-semibold text-left">Segunda Etapa</div>
                            </th>
                            <th class="p-2 whitespace-nowrap">
                              <div class="font-semibold text-left">Promedio</div>
                            </th>
                          </tr>
                        </thead>
                        <tbody class="text-sm divide-y divide-gray-100">
                          <tr>
                            <td class="p-2 whitespace-nowrap">
                              <div class="flex items-center">
                                <div class="font-medium text-gray-800">Matematica</div>
                              </div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-center">3</div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-center font-medium text-black-500">
                                3
                              </div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-lg text-center">3</div>
                            </td>
                          </tr>
                          <tr>
                            <td class="p-2 whitespace-nowrap">
                              <div class="flex items-center">
                                <div class="font-medium text-gray-800">
                                  Castellano
                                </div>
                              </div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-center">3</div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-center font-medium text-black-500">
                                3
                              </div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-lg text-center">3</div>
                            </td>
                          </tr>
                          <tr>
                            <td class="p-2 whitespace-nowrap">
                              <div class="flex items-center">
                                <div class="font-medium text-gray-800">Ciencias Sociales</div>
                              </div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-center">5</div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-center font-medium text-black-500">
                                5
                              </div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-lg text-center">5</div>
                            </td>
                          </tr>
                          <tr>
                            <td class="p-2 whitespace-nowrap">
                              <div class="flex items-center">
                                <div class="font-medium text-gray-800">Matematica</div>
                              </div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-center">2</div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-center font-medium text-black-500">
                                2
                              </div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-lg text-center">2</div>
                            </td>
                          </tr>
                          <tr>
                            <td class="p-2 whitespace-nowrap">
                              <div class="flex items-center">
                                <div class="font-medium text-gray-800">Ingles</div>
                              </div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-center">2</div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-center font-medium text-black-500">
                                2
                              </div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-lg text-center">2</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
            </div>
        </div>
    </div>
</body>
</html>