<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Padres-Avisos</title>
  </head>
  <body>
    <div class="font-sans">
      <div
        class="flex flex-wrap min-h-screen sm:justify-center items-center h-full bg-gradient-to-tl from-purple-500 via-teal-600 to-purple-500 w-sm py-16 px-4"
      >
        <!--agrego flex + flex-wrapgit y saque back bground gris, agg bg- degradado-->
        <div class="relative h-full min-w-[400px] max-w-[400px]">
          <div
            style="background-image: url('https://i.pinimg.com/originals/4a/66/38/4a6638db27116da54fd59b14a2d5c802.jpg');"
            class="flex-auto card bg-white-400 shadow-lg w-full h-full rounded-3xl absolute transform -rotate-3"
          ></div>
          <div
            style="background-image: url('https://i.pinimg.com/originals/4a/66/38/4a6638db27116da54fd59b14a2d5c802.jpg');"
            class="flex-auto card bg-gradient-to-t shadow-lg w-full h-full rounded-3xl absolute transform rotate-3"
          ></div>
          <div class="relative w-full h-full rounded-3xl px-10 py-20 bg-indigo-200 shadow-md"
          >
              <div class="flex flex-col items-center">
                <h2 class="font-bold text-center text-black font-serif decoration-dashed text-2xl ml-4">AVISOS</h2>
              </div>
              <div
                class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8"
              >
                <div class="py-5">
                  <details class="group">
                    <summary
                      class="flex justify-between items-center font-medium cursor-pointer list-none"
                    >
                      <span>Exámenes</span>
                      <span class="transition group-open:rotate-180">
                        <svg
                          fill="none"
                          height="24"
                          shape-rendering="geometricPrecision"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="1.5"
                          viewBox="0 0 24 24"
                          width="24"
                        >
                          <path d="M6 9l6 6 6-6"></path>
                        </svg>
                      </span>
                    </summary>
                    <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                      1er parcial de Matemática: Jueves 5 de junio 
                      Contenido: Ejercicios y problemas de multiplicación.
                    </p>
                  </details>
                </div>
                <div class="py-5">
                  <details class="group">
                    <summary
                      class="flex justify-between items-center font-medium cursor-pointer list-none"
                    >
                      <span> Ausencias</span>
                      <span class="transition group-open:rotate-180">
                        <svg
                          fill="none"
                          height="24"
                          shape-rendering="geometricPrecision"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="1.5"
                          viewBox="0 0 24 24"
                          width="24"
                        >
                          <path d="M6 9l6 6 6-6"></path>
                        </svg>
                      </span>
                    </summary>
                    <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                      Marcelo no tuvo ausencias durante el mes de abril
                    </p>
                  </details>
                </div>
                <div class="py-5">
                  <details class="group">
                    <summary
                      class="flex justify-between items-center font-medium cursor-pointer list-none"
                    >
                      <span> Llegadas tardías</span>
                      <span class="transition group-open:rotate-180">
                        <svg
                          fill="none"
                          height="24"
                          shape-rendering="geometricPrecision"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="1.5"
                          viewBox="0 0 24 24"
                          width="24"
                        >
                          <path d="M6 9l6 6 6-6"></path>
                        </svg>
                      </span>
                    </summary>
                    <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                       Miercoles 18 de abril
                    </p>
                  </details>
                </div>
                <div class="py-5">
                  <details class="group">
                    <summary
                      class="flex justify-between items-center font-medium cursor-pointer list-none"
                    >
                      <span> Llamadas de atención</span>
                      <span class="transition group-open:rotate-180">
                        <svg
                          fill="none"
                          height="24"
                          shape-rendering="geometricPrecision"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="1.5"
                          viewBox="0 0 24 24"
                          width="24"
                        >
                          <path d="M6 9l6 6 6-6"></path>
                        </svg>
                      </span>
                    </summary>
                    <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                      No detectable
                    </p>
                  </details>
                </div>
                <div class="py-5">
                  <details class="group">
                    <summary
                      class="flex justify-between items-center font-medium cursor-pointer list-none"
                    >
                      <span> Otro</span>
                      <span class="transition group-open:rotate-180">
                        <svg
                          fill="none"
                          height="24"
                          shape-rendering="geometricPrecision"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="1.5"
                          viewBox="0 0 24 24"
                          width="24"
                        >
                          <path d="M6 9l6 6 6-6"></path>
                        </svg>
                      </span>
                    </summary>
                    <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                      Excelente actitud con los compañeros!
                    </p>
                  </details>
                </div>
                </div>
                <div>
                  <div class="text-center">
                    <a href="{{url_for('padres.padres_menu')}}" class="block bg-emerald-400 text-black ml-1 w-40 py-3 rounded-2xl shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out transform hover:-translate-x hover:scale-105 mr-40 mt-4">Volver</a>
                </div>
        </div>
        </div>

            <script>
              // ...
              // extend: {
              //   keyframes: {
              //     fadeIn: {
              //       "0%": { opacity: 0 },
              //       "100%": { opacity: 100 },
              //     },
              //   },
              //   animation: {
              //     fadeIn: "fadeIn 0.2s ease-in-out forwards",
              //   },
              // },
              // ...
            </script>
          </div>
    </div>
      </div>
    </div>
  </body>
</html>
