<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profe-Inicio</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- A partir de aqui metanle el body de la pagina -->
    <div class="font-sans"></div>
      <div
        class="flex flex-wrap min-h-screen sm:justify-center items-center h-full bg-gradient-to-tl from-purple-500 via-teal-600 to-purple-500 w-sm py-16 px-4"
      >
        <div class="relative sm:max-w-sm w-full h-full">
          <div style="background-image: url('https://i.pinimg.com/originals/4a/66/38/4a6638db27116da54fd59b14a2d5c802.jpg');" class="flex-auto card bg-white-400 shadow-lg  w-full  h-full rounded-3xl absolute  transform -rotate-3"></div>
          <div style="background-image: url('https://i.pinimg.com/originals/4a/66/38/4a6638db27116da54fd59b14a2d5c802.jpg');" class="flex-auto card bg-gradient-to-t shadow-lg  w-full h-full rounded-3xl absolute  transform rotate-3"></div>
          <div class="relative w-full h-full rounded-3xl  px-10 py-20 bg-indigo-200 shadow-md">
          
          <h1 class="font-bold text-center text-black font-serif decoration-dashed text-2xl  mt-2 mb-8">¡Hola Profe Maria!</h1>
            <img
              class="h-[100px] w-[100px] mx-auto mb-6 mt-6"
              src="https://cdn-icons-png.flaticon.com/512/538/538899.png"
              alt="Profesor Logo"
            />

            <h2 class="font-bold text-center text-black font-serif decoration-dashed text-2xl  mt-2 ">Tus Cursos son: </h2>

            <form method="#" action="#" class="mt-1">
              <div class="mt-6 flex flex-col text-center gap-1">
                <a href="{{url_for('profesores.menu_profe')}}"
                    class="py-3 w-64 mt-0 ml-6 text-xl bg-emerald-400 text-black rounded-2xl shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out transform hover:-translate-x hover:scale-105 center m-2"
                >
                  5to B
                </a>
                <a
                    class="py-3 w-64 mt-0 ml-6 text-xl bg-emerald-400 text-black rounded-2xl shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out transform hover:-translate-x hover:scale-105 center m-2"
                >
                  5to C
                </a>
              </div>
              <a href="{{url_for('auth.logout')}}" class=" block underline text-center m-2 mt-4 text-black">Cerrar sesión</a>

            </div>

            </form>
          </div>
          
        </div>
      </div>
    </div>
  </body>
</html>