<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Aviso enviado</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    
    <script>
        var socket = io();
      </script>
      <!-- A partir de aqui metanle el body de la pagina -->
      <div class="font-sans  hover:font- BlinkMacSystemFont">
        <div class="flex flex-wrap min-h-screen sm:justify-center items-center h-full bg-gradient-to-tl from-purple-500 via-teal-600 to-purple-500 w-full py-16 px-4"> 
            <!--agrego flex + flex-wrapgit y saque back bground gris, agg bg- degradado-->
            <div class="relative sm:max-w-sm w-full h-full ">
                <div style="background-image: url('https://i.pinimg.com/originals/4a/66/38/4a6638db27116da54fd59b14a2d5c802.jpg');" class="flex-auto card bg-white-400 shadow-lg  w-full  h-full rounded-3xl absolute  transform -rotate-3"></div>
                <div style="background-image: url('https://i.pinimg.com/originals/4a/66/38/4a6638db27116da54fd59b14a2d5c802.jpg');" class="flex-auto card bg-gradient-to-t shadow-lg  w-full h-full rounded-3xl absolute  transform rotate-3"></div>
                <div  class="relative w-full h-full rounded-3xl  px-10 py-20 bg-indigo-200 shadow-md">
                    <br> </br>
                    <div class="mb-10">
                        <img class="h-[100px] w-[100px] mx-auto mb-2 mt-1" src="https://cdn-icons-png.flaticon.com/512/725/725691.png?w=740&t=st=1677601115~exp=1677601715~hmac=ba9b8e50fab2eafb58a27935d8fd3e592385e9b9600ddfc862702cd37f103bf4" alt="enviado img">
                        <label 
                        
                        class="block mt-0 mb-5 text-3xl text-black text-center font-bold font-serif">
                        ¡Aviso Enviado!
                        </label>
                    </div>
            
            

                    <div class="text-center">
                        <a href="{{url_for('profesores.crear_aviso')}}" class="block mb-2 text-center py-3 w-64 text-xl bg-emerald-400 text-black rounded-2xl shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out transform hover:-translate-x hover:scale-105 center mx-auto">Enviar otro aviso</a>
                        <a href="{{url_for('profesores.menu_profe')}}" class="block text-center py-3 w-64 text-xl bg-emerald-400 text-black rounded-2xl shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out transform hover:-translate-x hover:scale-105 center mx-auto mb-5">Volver a menu</a>
                    </div>

            </div>
                   
                </div>
                
            </div>

                        <br> </br>
                        
                    </form>
                </div>
            </div>
        </div>
        
    </div>
      
</body>
</html>