<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Libreta guardada</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    
    <script>
        var socket = io();
      </script>
      <!-- A partir de aqui metanle el body de la pagina -->
      <div class="font-sans">
        <div class="flex flex-wrap min-h-screen sm:justify-center items-center h-full bg-gradient-to-tl from-purple-500 via-teal-600 to-purple-500 w-full py-16 px-4"> 
            <!--agrego flex + flex-wrapgit y saque back bground gris, agg bg- degradado-->
            <div class="relative sm:max-w-sm w-full h-full ">
                <div style="background-image: url('https://i.pinimg.com/originals/4a/66/38/4a6638db27116da54fd59b14a2d5c802.jpg');" class="flex-auto card bg-white-400 shadow-lg  w-full  h-full rounded-3xl absolute  transform -rotate-3"></div>
                <div style="background-image: url('https://i.pinimg.com/originals/4a/66/38/4a6638db27116da54fd59b14a2d5c802.jpg');" class="flex-auto card bg-gradient-to-t shadow-lg  w-full h-full rounded-3xl absolute  transform rotate-3"></div>
                <div  class="relative w-full h-full rounded-3xl  px-10 py-20 bg-indigo-200 shadow-md">
                    <br> </br>
                    
                    <label 
                        
                        class="block mt-0 mb-5 text-3xl text-black text-center font-bold font-serif">
                        ¡Se ha guardado correctamente!
                    </label>
            
            

                    <div class="flex flex-nowrap">
                        <button class="py-3 w-64 text-xl bg-emerald-400 text-black rounded-2xl shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out transform hover:-translate-x hover:scale-105 center m-2">Ir a planilla</button>
                        <a href="{{url_for('profesores.menu_profe')}}" class="block text-center py-3 w-64 text-lg bg-emerald-400 text-black rounded-2xl shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out transform hover:-translate-x hover:scale-105 center m-2">Volver a menu</a>
                    </div>

            </div>
                   
                </div>
                
            </div>

                        <br> </br>
                        
                    </form>
                </div>
            </div>
        </div>
        
    </div>
      
</body>
</html>