<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Selecciona estudiantes</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    
    <script>
        var socket = io();
      </script>
      <!-- A partir de aqui metanle el body de la pagina -->
      <div class="font-sans">
        <div class="flex flex-wrap min-h-screen sm:justify-center items-center h-full bg-gradient-to-tl from-purple-500 via-teal-600 to-purple-500 w-full py-16 px-4"> 
            <!--agrego flex + flex-wrapgit y saque back bground gris, agg bg- degradado-->
            <div class="relative sm:max-w-sm w-full h-full ">
                <div style="background-image: url('https://i.pinimg.com/originals/4a/66/38/4a6638db27116da54fd59b14a2d5c802.jpg');" class="flex-auto card bg-white-400 shadow-lg  w-full  h-full rounded-3xl absolute  transform -rotate-3"></div>
                <div style="background-image: url('https://i.pinimg.com/originals/4a/66/38/4a6638db27116da54fd59b14a2d5c802.jpg');" class="flex-auto card bg-gradient-to-t shadow-lg  w-full h-full rounded-3xl absolute  transform rotate-3"></div>
                <div  class="relative w-full h-full rounded-3xl  px-10 py-20 bg-indigo-200 shadow-md">
                    <br> </br>
                <!-- Desde aca se puede editar-->
                  
                <div>

                    <label 
                        
                        class="block mt-1 mb-16 text-4xl text-black text-center font-bold">
                        Selecciona estudiantes
                    </label>

                    <fieldset>
                        
                        <div class="mt-4 mb-30 h-60 divide-y divide-gray-200 border-t border-b border-gray-200 overflow-y-scroll">
                          <div class="relative flex items-start py-4">
                            <div class="min-w-0 flex-1 text-sm">
                              <label for="person-1" class="select-none font-medium text-gray-700">Julia Zarate</label>
                            </div>
                            <div class="ml-3 flex h-5 items-center">
                              <input id="person-1" name="person-1" type="checkbox" class="h-4 w-4 mr-1.5 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                            </div>
                          </div>
                      
                          <div class="relative flex items-start py-4">
                            <div class="min-w-0 flex-1 text-sm">
                              <label for="person-2" class="select-none font-medium text-gray-700">Rebeca Almiron</label>
                            </div>
                            <div class="ml-3 flex h-5 items-center">
                              <input id="person-2" name="person-2" type="checkbox" class="h-4 w-4 mr-2 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                            </div>
                          </div>
                      
                          <div class="relative flex items-start py-4">
                            <div class="min-w-0 flex-1 text-sm">
                              <label for="person-3" class="select-none font-medium text-gray-700">Juan Perez</label>
                            </div>
                            <div class="ml-3 flex h-5 items-center">
                              <input id="person-3" name="person-3" type="checkbox" class="h-4 w-4 mr-2 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                            </div>
                          </div>
                      
                          <div class="relative flex items-start py-4">
                            <div class="min-w-0 flex-1 text-sm">
                              <label for="person-4" class="select-none font-medium text-gray-700">Benigno Lopez</label>
                            </div>
                            <div class="ml-3 flex h-5 items-center">
                              <input id="person-4" name="person-4" type="checkbox" class="h-4 w-4 mr-2 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                            </div>
                          </div>

                          <div class="relative flex items-start py-4">
                            <div class="min-w-0 flex-1 text-sm">
                              <label for="person-4" class="select-none font-medium text-gray-700">Benigno Lopez</label>
                            </div>
                            <div class="ml-3 flex h-5 items-center">
                              <input id="person-4" name="person-4" type="checkbox" class="h-4 w-4 mr-2 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                            </div>
                          </div>

                          <div class="relative flex items-start py-4">
                            <div class="min-w-0 flex-1 text-sm">
                              <label for="person-4" class="select-none font-medium text-gray-700">Benigno Lopez</label>
                            </div>
                            <div class="ml-3 flex h-5 items-center">
                              <input id="person-4" name="person-4" type="checkbox" class="h-4 w-4 mr-2 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                            </div>
                          </div>
                      
                          <div class="relative flex items-start py-4">
                            <div class="min-w-0 flex-1 text-sm">
                              <label for="person-5" class="select-none font-medium text-gray-700">Gloria Salcedo</label>
                            </div>
                            <div class="ml-3 flex h-5 items-center">
                              <input id="person-5" name="person-5" type="checkbox" class="h-4 w-4 mr-2 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                            </div>
                          </div>
                        </div>
                      </fieldset>
                    <div class="flex flex-nowrap">
                        <a href="{{url_for('profesores.crear_aviso')}}" class="block text-center py-3 w-40 text-xl text-white bg-emerald-600 rounded-2xl center m-2 my-10">Volver</a>
                        <a href="{{url_for('profesores.aviso_enviado')}}" class="block text-center py-3 w-40 text-xl text-white bg-emerald-600 rounded-2xl center m-2 my-10">Enviar</a>
                    </div>
                </div>

            </div>
                    <div class="text-center ">
                        <p class="mt-4 text-sm">Has olvidado tu contraseña? <span class="underline cursor-pointer"> Presiona aquí</span>
                        </p>
                    </div>
                </div>
                
            </div>

                        <br> </br>
                        
                    </form>
                </div>
            </div>
        </div>
        
    </div>
      
</body>
</html>
