<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Profe    -Libreta</title>
</head>
<body>
    <div class="font-sans">
        <div class="flex flex-wrap min-h-screen sm:justify-center items-center h-full bg-gradient-to-tl from-purple-500 via-teal-600 to-purple-500 w-sm py-16 px-4"> 
            <!--agrego flex + flex-wrapgit y saque back bground gris, agg bg- degradado-->
            <div class="relative h-full">
                <div style="background-image: url('https://i.pinimg.com/originals/4a/66/38/4a6638db27116da54fd59b14a2d5c802.jpg');" class="flex-auto card bg-white-400 shadow-lg  w-full  h-full rounded-3xl absolute  transform -rotate-3"></div>
                <div style="background-image: url('https://i.pinimg.com/originals/4a/66/38/4a6638db27116da54fd59b14a2d5c802.jpg');" class="flex-auto card bg-gradient-to-t shadow-lg  w-full h-full rounded-3xl absolute  transform rotate-3"></div>
                <div  class="relative w-full h-full rounded-3xl  px-10 py-20 bg-indigo-200 shadow-md"> 
                    <h1
                    <h2 class="font-bold text-center text-black font-serif decoration-dashed text-2xl  mt-2 mb-8">Marcelo Sosa</h2>
                    <table class="table-auto w-full">
                        <thead
                          class="text-m font-semibold uppercase text-gray-400 bg-indigo-200"
                        >
                          <tr>
                            <th class="p-2 whitespace-nowrap">
                              <div class="text-gray-800 normal-case text-left">Materias</div>
                            </th>
                            <th class="p-2 whitespace-nowrap">
                              <div class="text-gray-800 normal-case text-left">1ra Etapa</div>
                            </th>
                            <th class="p-2 whitespace-nowrap">
                              <div class="text-gray-800 normal-case text-left">2da Etapa</div>
                            </th>
                            <th class="p-2 whitespace-nowrap">
                              <div class="text-gray-800  normal-case text-left">Promedio</div>
                            </th>
                          </tr>
                        </thead> 
                        <tbody class="text-sm divide-y divide-gray-100">
                      
                          <tr class="text-sm divide-y divide-gray-100"></tr>
                            
                            <td class="p-2 whitespace-nowrap">
                              <div class="flex items-center">
                                <div class="font-medium text-gray-800">Matematica</div>
                              </div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-center text-lg">3</div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-center text-lg">3</div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-center font-bold text-lg">3</div>
                            </td>
                          </tr>
                          <tr>
                            <td class="p-2 whitespace-nowrap">
                              <div class="flex items-center">
                                <div class="font-medium text-gray-800"> Comunicacion</div>
                              </div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-center text-lg">3</div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-center text-lg">3</div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-center font-bold text-lg">3</div>
                            </td>
                          </tr>
                          <tr>
                            <td class="p-2 whitespace-nowrap">
                              <div class="flex items-center">
                                <div class="font-medium text-gray-800">Guarani</div>
                              </div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-center text-lg">5</div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-center text-lg" >5</div>
                            
                            </td>
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-center font-bold text-lg">5</div>
                            </td>
                          </tr>
                          <tr>
                            <td class="p-2 whitespace-nowrap">
                              <div class="flex items-center">
                                <div class="font-medium text-gray-800">Ciencias Sociales</div>
                              </div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-center text-lg">2</div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-center text-lg">2</div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-center font-bold text-lg">2</div>
                            </td>
                          </tr>
                          <tr>
                            <td class="p-2 whitespace-nowrap">
                              <div class="flex items-center">
                                <div class="font-medium text-gray-800">Ciencias Naturales y Salud</div>
                              </div>
                          
                            </td>
                          
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-center text-lg ">2</div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-center text-lg">2</div>
                            </td>
                            <td class="p-2 whitespace-nowrap">
                              <div class="text-center font-bold text-lg">2</div>        
                              </div>
                                </td>
                            </tr>
                            <div>    
                            </div>
                            </tbody>
                        </table>

                        <div class="flex items-center mr-auto ml-auto py-10 rounded">
                            <a href="{{url_for('profesores.seleccionar_estudiantes2')}}"
                              class="block text-center py-3 w-60 text-xl bg-emerald-400 text-black rounded-2xl shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out transform hover:-translate-x hover:scale-105 center m-2"
                            >
                              Volver
                        </a>
                            <button
                              class="py-3 w-60 text-xl bg-emerald-400 text-black rounded-2xl shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out transform hover:-translate-x hover:scale-105 center m-2"
                            >
                              Editar
                            </button>
                            <a href="{{url_for('profesores.libreta_guardada')}}"
                              class="block text-center py-3 w-60 text-xl bg-emerald-400 text-black rounded-2xl shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out transform hover:-translate-x hover:scale-105 center m-2"
                            >
                              Guardar
                          </a>
            </div>
        </div>
    </div>
</body>
</html>